*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle
/.idea
*.gradle
.idea/encodings.xml
.idea/gradle.xml
app/src/main/res/drawable/ic_launcher_background.xml
gradle.properties
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
app/proguard-rules.pro
app/src/androidTest
app/src/test
